<div class="article-container">

  <div class="article-header">

    <h1>{{ article?.title }}</h1>

    <div class="category">
      {{ article?.category }}
    </div>

    <p class="description">
      {{ article?.description }}
    </p>

  </div>

  <div
    class="question-card"
    *ngFor="let q of article?.questions; let i = index">

    <h3>
      {{ i + 1 }}. {{ q.question }}
    </h3>

    <p>
      {{ q.answer }}
    </p>

  </div>

</div>

<h2 class="related-title">
  Related Articles
</h2>

<div class="related-posts">

  <div
    class="related-card"
    *ngFor="let item of relatedArticles"
    [routerLink]="['/article', item.id]">

    <h3>{{ item.title }}</h3>

    <p>
      {{ item.description }}
    </p>

  </div>

</div>