/* HERO SECTION */

.hero {
    max-width: 1200px;
    margin: 30px auto;
    padding: 80px 20px;
    text-align: center;

    background: linear-gradient(135deg, #1e293b, #0f172a);
    color: white;
    border-radius: 20px;
}

.hero h1 {
    font-size: 64px;
    margin-bottom: 15px;
}

.hero h2 {
    color: #cbd5e1;
    font-size: 28px;
    margin-bottom: 20px;
}

.hero p {
    color: #e2e8f0;
    font-size: 18px;
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
}

.hero button {
    margin-top: 30px;
    padding: 14px 30px;
    border: none;
    border-radius: 10px;
    background: #f0c040;
    color: #222;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.hero button:hover {
    transform: translateY(-3px);
}

/* SECTION TITLES */

.latest-posts h2,
.section-title {
    text-align: center;
    font-size: 38px;
    margin-bottom: 40px;
    color: #222;
    position: relative;
}

.latest-posts h2::after,
.section-title::after {
    content: "";
    width: 80px;
    height: 4px;
    background: #f0c040;
    display: block;
    margin: 12px auto 0;
    border-radius: 20px;
}

/* LATEST POSTS */

.latest-posts {
    padding: 70px 20px;
}

.post-grid {
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.post-card {
    background: white;
    padding: 25px;
    border-radius: 16px;
    text-decoration: none;
    color: inherit;

    border-top: 4px solid #f0c040;

    box-shadow: 0 5px 20px rgba(0,0,0,.08);
    transition: .3s;
}

.post-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,.15);
}

.post-card h3 {
    margin-bottom: 15px;
    color: #222;
}

.post-card p {
    color: #666;
    line-height: 1.6;
}

/* CATEGORIES */

.categories {
    max-width: 1200px;
    margin: 30px auto 80px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.category-card {
    background: #1e293b;
    color: white;

    padding: 35px;
    border-radius: 15px;

    text-align: center;
    font-size: 20px;
    font-weight: 600;

    cursor: pointer;
    transition: .3s;
}

.category-card:hover {
    background: #334155;
    transform: translateY(-5px);
}

/* MOBILE */

@media (max-width: 768px) {

    .hero {
        padding: 60px 20px;
        margin: 20px 15px;
    }

    .hero h1 {
        font-size: 42px;
    }

    .hero h2 {
        font-size: 22px;
    }

    .hero p {
        font-size: 16px;
    }

    .post-grid {
        grid-template-columns: 1fr;
        padding: 0 15px;
    }

    .categories {
        grid-template-columns: 1fr;
        padding: 0 15px;
    }

    .category-card {
        padding: 25px;
    }

    .latest-posts h2,
    .section-title {
        font-size: 30px;
    }
}